.projects__title {
  margin-bottom: 40px;
}

.project {
  position: relative;
}

.project__image {
    border-radius: 30px;
}

.project__label {
  background-color: #1bff07;
  border-radius: 100px;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #000000;
  position: absolute;
  top: 50px;
  left: 50px;
}

.project__title {
  position: absolute;
  bottom: 94px;
  left: 50px;
}

.project__description {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  letter-spacing: -0.03em;
  color: #ffffff;
}

@media (max-width: 1199px) {
  .projects__title {
    margin-bottom: 53px;
  }
}

@media (max-width: 767px) {
  .projects__title {
    margin-bottom: 34px;
    max-width: 268px;
  }
  
}
