@import "../styles/header.css";
@import "../styles/projects.css";
@import "../styles/experience.css";
@import "../styles/services.css";
@import "../styles/feedback.css";
@import "../styles/footer.css";

html {
  scroll-behavior: smooth;
}

body {
  font-family: "IBM Plex Mono", monospace;
  background-color: #000000;
}

section {
  margin-top: 150px;
}

h1 {
  font-size: 80px;
  line-height: 70px;
  color: #1bff07;
}
h2 {
  font-size: 55px;
  line-height: 72px;
  color: #ffffff;
}
h3 {
  font-size: 35px;
  line-height: 46px;
  color: #ffffff;
}
h4 {
  font-size: 60px;
  line-height: 60px;
  color: #ffffff;
}
h1,
h2,
h3,
h4,
button,
p,
a,
input {
  font-family: inherit;
  letter-spacing: -0.03em;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 1150px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 45px;
    line-height: 58px;
  }
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
  h4 {
    font-size: 40px;
    line-height: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
  h1 {
    font-size: 40px;
    line-height: 47px;
  }
  h2 {
    font-size: 30px;
    line-height: 39px;
  }
  h3 {
    font-size: 28px;
    line-height: 36px;
  }
  h4 {
    font-size: 35px;
    line-height: 37px;
  }
}

/*
.projects {
  width: 1150px;
  margin: 0 auto 150px auto;
}
.projects h2 {
  margin-bottom: 40px;
}
.project__item {
  width: 1150px;
  height: 550px;
  position: relative;
}
.project__item h3 {
  position: absolute;
  bottom: 94px;
  left: 50px;
}
.project__item p {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #ffffff;
}
.project__item:nth-child(4) {
  margin-bottom: 80px;
}
.look-all-projects {
  width: 582px;
  height: 153px;
  background: #1bff07;
  border-radius: 10px;
  display: inline-block;
  padding-top: 56px;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}
.look-all-projects:hover {
  background: #000000;
  border: 1px solid #1bff07;
  border-radius: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 39px;
  color: #1bff07;
}



.competencies {
  width: 1150px;
  margin: 0 auto 150px auto;
}
.competencies h2 {
  margin-bottom: 48px;
}
.competencies p {
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  color: #ffffff;
  letter-spacing: -0.03em;
}
.competencies__item img {
  margin-bottom: 12px;
}
.competencies__item h3 {
  margin-bottom: 15px;
  color: #1bff07;
}
.competencies__item {
  width: 778px;
  margin-bottom: 60px;
}
.competencies__item:nth-child(5) {
  margin-bottom: 0;
}



.services {
  width: 1150px;
  margin: 0 auto 150px auto;
}
.services h3 {
  width: 403px;
  margin-bottom: 74px;
  letter-spacing: -0.03em;
}
.service__item {
  margin-bottom: 137px;
}
.service__item:nth-child(4) {
  margin-bottom: 0;
}
.service__item:nth-child(2) {
  margin-bottom: 74px;
}
.service__item_inner {
  height: 283px;
  background: #191c19;
  border-radius: 30px;
  position: relative;
}
.service__item_inner h2 {
  position: absolute;
  top: 40px;
  left: 40px;
  color: #1bff07;
  letter-spacing: -0.03em;
}
.service__item_inner p {
  width: 749px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  top: 127px;
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: -0.03em;
  color: #ffffff;
}




.contacts {
  min-width: 1150px;
  margin: 0 auto 150px auto;
  background: #191c19;
  border-radius: 30px;
  height: 717px;
  padding-top: 320px;
  background-image: url(../resources/programmer.png);
  background-repeat: no-repeat;
  background-position: right;
}
.contacts__inner {
  width: 1150px;
  margin: 0 auto;
}
.contacts__inner h4 {
  font-weight: 400;
  font-size: 35px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #ffffff;
  margin-bottom: 28px;
}
.contacts__inner a {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-decoration: none;
  margin-bottom: 20px;
}
.contacts__inner a:hover {
  color: #1bff07;
}
.contacts ul li {
  margin-bottom: 20px;
}




footer {
  height: 223px;
  background: #ffffff;
  border-radius: 30px 30px 0px 0px;
  padding-top: 76px;
}
.footer_inner {
  width: 1150px;
  margin: 0 auto;
}
.footer__text {
  font-weight: 400;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: -0.03em;
  color: #000000;
  padding-bottom: 66px;
}
.footer__copyright {
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  letter-spacing: -0.03em;
  color: #000000;
  opacity: 0.5;
}
*/
